//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Created Time: Sun 03 05 01:13:07 2023

IO_LOC "onboard_led[5]" 16;
IO_PORT "onboard_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[4]" 15;
IO_PORT "onboard_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[3]" 14;
IO_PORT "onboard_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[2]" 13;
IO_PORT "onboard_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[1]" 11;
IO_PORT "onboard_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[0]" 10;
IO_PORT "onboard_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "CLR3" 39;
IO_PORT "CLR3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR2" 36;
IO_PORT "CLR2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL_Red" 26;
IO_PORT "COL_Red" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_CLOCK" 38;
IO_PORT "mat_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_RCLOCK" 37;
IO_PORT "mat_RCLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW" 28;
IO_PORT "ROW" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "COL_Green" 27;
IO_PORT "COL_Green" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR1" 25
IO_PORT "CLR1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "sw1" 3;
IO_PORT "sw1" PULL_MODE=UP;
IO_LOC "sw2" 4;
IO_PORT "sw2" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
