//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 09 17 17:00:06 2023

IO_LOC "boardLED[5]" 16;
IO_PORT "boardLED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[4]" 15;
IO_PORT "boardLED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[3]" 14;
IO_PORT "boardLED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[2]" 13;
IO_PORT "boardLED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[1]" 11;
IO_PORT "boardLED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[0]" 10;
IO_PORT "boardLED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// Tact SW
IO_LOC "tacSW[3]" 84;
IO_PORT "tacSW[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[2]" 85;
IO_PORT "tacSW[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[1]" 86;
IO_PORT "tacSW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//ADC MCP3008
IO_LOC "AD_CLK" 41;
IO_PORT "AD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS" 29;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DIN" 33;
IO_PORT "DIN" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DOUT" 40;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//
IO_LOC "sw2" 3;
IO_PORT "sw2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sw1" 4;
IO_PORT "sw1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//6 x 7Segment
IO_LOC "P3_SEG_SER" 55;
IO_PORT "P3_SEG_SER" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P9_SEG_SRCLK" 54;
IO_PORT "P9_SEG_SRCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P4_SEG_RCLK" 53;
IO_PORT "P4_SEG_RCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P10_SEG_OE" 51;
IO_PORT "P10_SEG_OE" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P1_COM_SER" 32;
IO_PORT "P1_COM_SER" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P7_COM_SRCLK" 31;
IO_PORT "P7_COM_SRCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P2_COM_RCLK" 57;
IO_PORT "P2_COM_RCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "P8_COM_OE" 56;
IO_PORT "P8_COM_OE" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;