IO_LOC  "i_clk"        E2;
IO_PORT "i_clk"        IO_TYPE=LVCMOS33;

IO_LOC  "i_enc_a"      G5;
IO_PORT "i_enc_a"      IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "i_enc_b"      G8;
IO_PORT "i_enc_b"      IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "i_push_sw"    H7;
IO_PORT "i_push_sw"    IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "i_slide_sw"   J5;
IO_PORT "i_slide_sw"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "o_seg_anode[4]"  G10;
IO_PORT "o_seg_anode[4]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[5]"  D10;
IO_PORT "o_seg_anode[5]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[6]"  B10;
IO_PORT "o_seg_anode[6]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[7]"  C10;
IO_PORT "o_seg_anode[7]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[0]"  G11;
IO_PORT "o_seg_anode[0]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[1]"  D11;
IO_PORT "o_seg_anode[1]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[2]"  B11;
IO_PORT "o_seg_anode[2]"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_seg_anode[3]"  C11;
IO_PORT "o_seg_anode[3]"  IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC  "o_digit_cath[1]" A10;
IO_PORT "o_digit_cath[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_digit_cath[0]" E10;
IO_PORT "o_digit_cath[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_digit_cath[3]" K11;
IO_PORT "o_digit_cath[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_digit_cath[2]" L5;
IO_PORT "o_digit_cath[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_digit_cath[5]" A11;
IO_PORT "o_digit_cath[5]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "o_digit_cath[4]" E11;
IO_PORT "o_digit_cath[4]" IO_TYPE=LVCMOS33 DRIVE=8;
