//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Sun 03 05 01:13:07 2023

IO_LOC "onboard_led[5]" L16;
IO_PORT "onboard_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[4]" L14;
IO_PORT "onboard_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[3]" N14;
IO_PORT "onboard_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[2]" N10;
IO_PORT "onboard_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[1]" A13;
IO_PORT "onboard_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[0]" C13;
IO_PORT "onboard_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "CLR3" N7;
IO_PORT "CLR3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR2" N9;
IO_PORT "CLR2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL_Red" D11;
IO_PORT "COL_Red" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_CLOCK" L9;
IO_PORT "mat_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_RCLOCK" N8;
IO_PORT "mat_RCLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW" B11;
IO_PORT "ROW" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "COL_Green" A11;
IO_PORT "COL_Green" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR1" N6
IO_PORT "CLR1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//IO_LOC "F10" F10
//IO_PORT "F10" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;


IO_LOC "sw" C7;
IO_PORT "sw" PULL_MODE=UP;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
