//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 06 30 13:02:17 2023

IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch1a" A11;
IO_PORT "ch1a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch2a" N6;
IO_PORT "ch2a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch3a" N9;
IO_PORT "ch3a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch1b" B11;
IO_PORT "ch1b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch2b" D11;
IO_PORT "ch2b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch3b" N7;
IO_PORT "ch3b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "led0" L16;
IO_PORT "led0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC "s4" C7;
IO_PORT "s4" PULL_MODE=UP BANK_VCCIO=1.8;
