IO_LOC "CLR1" N6
IO_PORT "CLR1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR3" N7;
IO_PORT "CLR3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLR2" N9;
IO_PORT "CLR2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "COL_Red" D11;
IO_PORT "COL_Red" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_CLOCK" L9;
IO_PORT "mat_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mat_RCLOCK" N8;
IO_PORT "mat_Ratch" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW" B11;
IO_PORT "ROW" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "COL_Green" A11;
IO_PORT "COL_Green" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "sw" C7;
IO_PORT "sw" PULL_MODE=UP;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;